<div class="authform">
  <%= bootstrap_form_for([@project, @optimizable_class], :label_errors => true, :html => { :role => 'form'}) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>

    <h3>New Optimization Category</h3>
    <%= f.text_field :name, :autofocus => true, class: 'form-control' %>

    <%= f.submit 'Create', :class => 'button right' %>
  <% end %>
</div>
